
h3{
    text-align: center;
    border: red solid;
}
#box-model{
    border: green solid 12px;
    background-color: silver;
/*    padding*/
/*    padding: 20px; one number applies all around*/
/*    two number = top and bottom/ left and right*/
    padding: 20px 50px 100px 60px;
/*    top= 20, right= 50, bottom=100, left=60*/
/*    margin*/
/*    margin: 50px;*/
/*margin: 50px 80px;*/
    margin:50px 80px 100px 30px;

}