
h1{
    text-align: center;
}
p{
    text-align: center;
}
#box-model{
    border-left: orange solid 20px;
    border-bottom: Red solid 10px;
    border-right: Green solid 20px;
    border-top: blue solid 10px;
    background-color: silver;
    padding: 40px;
}
body{
    color: black;
}