

h1{
    text-align: center;
    border: solid blue;
    background-color: aquamarine;
}

img{
    margin-left: auto;
    margin-right: auto;
}

#box{
    border: blue solid 5px;
    background-color: cornflowerblue;
    padding: 40px;
    width: 350px;
    height: 150px;
    margin: 400px;
}
body{
    background-color: darkorchid;
}
h3{
    margin-top: 80px;
    margin-bottom: 20px;

}
#visa{
    margin-top: -20px;
    margin-left: 340px;
    width: 40px;
    height: 40px;
    position: center;
}
h4{
    margin-bottom: 80px;

}
