
/*comment line*/

/*External CSS*/
/*Selector by element*/
h1{
    text-align: center;
    color: darkorange;
    font-family: 'Roboto'; font-family: sans-serif;
}
/*Select by class name*/
.postTitle {
    color: blue;
    text-decoration: underline;
    border: aqua;
    background: greenyellow;
}
/* Select by id name*/
#postContentOne {
    font-family: cursive;
}
#postContentTwo {
    font-family: fantasy;
    text-decoration: line-through;
    border: aqua;
    background: greenyellow;
}