


body {
    background-image: url("../Images/DC heroes.jpg");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.invisible {
    visibility: hidden;

}


.characters2 {
    color: deeppink;

}

ul {
    border: 1px solid black;
    background-color: yellow;

}
li {
    display: inline;
}
