    .container{
        margin: auto;
        width: 80%;
        max-width:1200px ;
        border: 4px solid green;
    }
    .row{
        width: 100%;
        border: 2px solid red;
    }

    .column{
        float: left;
        padding: 10px;
    }
    .column.one-half{
        width: 50%;
        background-color: cornflowerblue;
    }

    .column.one-eighth{
        width: 33.33%;
        background-color: darkorange;
    }