
#body{
    background-color: cornflowerblue;
}
#intro{
    text-align: center;
}
#col{
    text-align: center;
}
.mainTitle{
    color: darkorchid;
    border: solid;
    font-family: fantasy;
}
.loginTitle{
    color: hotpink;
    border: dotted;
    font-family: fantasy;
}