

    body{
        background-color: lightgreen;


    }
    .player{
        font-family:fantasy ;
        color: firebrick;
        text-align: center;
    }


    #nickname{
        font-family: fantasy;
        color: deepskyblue;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 60px;
    }
    .down{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 60px;

    }


    #we{
        font-family: sans-serif;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }



    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 50px;
    }

    .up{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 60px;
        width: 50%;
    }

    #footer{
        font-size: xx-large;
        font-family: fantasy;
        color: hotpink;
        text-effect: emboss;

    }