    body{ background: hotpink;

    }



    .photo{

    }


    #contentOne{
        font-family: ;
        font-size: ;
    }


    #contentTwo{
        font-family: ;
        font-size: ;

    }

    #contentThree{
        font-family: ;
        font-size: ;
    }

    #contentFour{
        font-family: ;
        font-size: ;
    }


    #contentFive{
        font-family: ;
        font-size: ;
        color
    }

    #contentSix{
        font-family: ;
        font-size: ;
        color
    }


